
.v_header{
    /*margin-left: 0px !important;*/
    padding-top: 150px !important;
}

/*.no-padding {*/
/*    padding-left: 0 !important;*/
/*    padding-right: 0 !important;*/
/*}*/
/*.full-width {*/
/*    width: 100% !important;*/
/*}*/

/*.v_footer-sticky {*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    bottom: 0;*/
/*    overflow: hidden;*/
/*}*/
/* Add this CSS to your stylesheet */
/* Ensure the body takes the full height and allows for the footer to be at the bottom */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}


